body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h3 {
  margin: 10px 0;
}

.card p {
  font-weight: bold;
  color: #333;
}

.scanner {
  margin-top: 50px;
}

.video {
  width: 300px;
  border-radius: 10px;
  border: 2px solid #333;
}

.result {
  margin-top: 15px;
  font-weight: bold;
  color: green;
}
.qr-section {
  margin-top: 50px;
}

.qr-input {
  padding: 10px;
  width: 280px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.qr-box {
  margin-top: 20px;
}
